{% extends "base.html" %}

{% block content %}
{% if let Some(message) = message %}
<span><strong>{{ message }}</strong></span>
{% endif %}

{% if let Some(error) = error%}
<span><strong>Something went wrong: {{ error }}</strong></span>
{% endif %}

<p>Log in with either an email link, email address and password or OAuth</p>

<form action="/login/email" method="post">
  <fieldset>
    <legend>Magic link login</legend>
    <p>
      <label for="email">email</label>
      <input name="email" id="email" value="stefan@provai.eu" />
    </p>
    <input type="submit" value="login" />
  </fieldset>
  {% if let Some(next) = next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
</form>

<form action="/login/password" method="post">
  <fieldset>
    <legend>Password login</legend>
    <p>
      <label for="email">email</label>
      <input name="email" id="email" value="stefan@provai.eu" />
    </p>
    <p>
      <label for="password">Password</label>
      <input name="password" id="password" type="password" value="hunter42" />
    </p>
    <input type="submit" value="login" />
  </fieldset>
  {% if let Some(next) = next %}
  <input type="hidden" name="next" value="{{next}}" />
  {% endif %}
</form>
<a href="/password/send-reset">Forgot password</a>

<fieldset>
  <legend>OAuth login</legend>
  {% for provider in oauth_providers %}
  <form action="/login/oauth" method="post">
    <input type="hidden" name="provider" value="{{ provider }}" />
    <input type="submit" value="{{ provider }}" />
    {% if let Some(next) = next %}
    <input type="hidden" name="next" value="{{next}}" />
    {% endif %}
  </form>
  {% endfor %}
</fieldset>

<fieldset>
  <legend>No account yet?</legend>
  <a href="/signup">Sign up!</a>
</fieldset>
{% endblock %}