{% extends "base.html" %}
{% block content %}

{% if let Some(message) = message %}
<span><strong>{{ message }}</strong></span>
{% endif %}

{% if let Some(error) = error%}
<span><strong>Something went wrong: {{ error }}</strong></span>
{% endif %}

<p>Welcome {{ name }}. <span id="status">Verifying token...</span></p>


<section>
  <legend>Password</legend>
  {% if has_password %}
  <p>Password login is active</p>
  <form action="/user/password/delete" method="post">
    <input type="submit" value="Delete password" />
  </form>
  {% endif %}
  <form action="/user/password/set" method="post">
    <label for="new_password">New password</label>
    <input type="password" name="new_password" id="new_password" />
    {% if has_password %}
    <input type="submit" value="Change password" />
    {% else %}
    <input type="submit" value="Create password" />
    {% endif %}
  </form>
</section>

<section>
  <legend>
    Login sessions
  </legend>
  {% for session in sessions %}
  <div style="border: 1 px dotted gray; padding: 8px; margin: 8px;">
    <p>{{ session.method }}</p>
    <form action="/user/session/delete" method="post">
      <input type="hidden" value="{{ session.id }}" name="id" />
      <input type="submit" value="Delete session" />
    </form>
  </div>
  {% endfor %}
</section>

<section>
  <legend>Emails</legend>
  {% for email in emails %}
  <div style="border: 1 px dotted gray; padding: 8px; margin: 8px;">
    <p>{{ email.email }}</p>
    {% if email.allow_login %}
    <p>Magic link login: enabled</p>
    <form action="/user/email/disable_login" method="post">
      <input type="hidden" value="{{ email.email }}" name="email" />
      <input type="submit" value="Disable" />
    </form>
    {% else %}
    <p>Magic link login: disabled</p>
    <form action="/user/email/enable_login" method="post">
      <input type="hidden" value="{{ email.email }}" name="email" />
      <input type="submit" value="enable" />
    </form>
    {% endif %}
    {% if !email.verified %}
    <form action="/user/email/verify" method="post">
      <input type="hidden" value="{{ email.email }}" name="email" />
      <input type="submit" value="Verify email" />
    </form>
    {% endif %}
    <form action="/user/email/delete" method="post">
      <input type="hidden" value="{{ email.email }}" name="email" />
      <input type="submit" value="Delete email" />
    </form>
  </div>
  {% endfor %}
  <form action="/user/email/add" method="post">
    <input type="email" name="email" />
    <input type="submit" value="Add email" />
  </form>
</section>


<fieldset>
  <legend>OAuth linking</legend>

  {% for token in oauth_tokens %}
  <div style="border: 1 px dotted gray; padding: 8px; margin: 8px;">
    <p>{{ token.provider_name }}</p>
    <form action="/user/oauth/delete" method="post">
      <input type="hidden" value="{{ token.id }}" name="id">
      <input type="submit" value="Delete token" />
    </form>
    <form action="/user/oauth/refresh" method="post">
      <input type="hidden" value="{{ token.id }}" name="id">
      <input type="submit" value="Refresh token" />
    </form>
  </div>
  {% endfor %}

  {% for provider in oauth_providers %}
  <form action="/user/oauth/link" method="post">
    <input type="hidden" name="provider" value="{{ provider.name }}" />
    <input type="submit" value="Link {{ provider.display_name }} account" />
  </form>
  {% endfor %}
</fieldset>

<form action="/user/delete" method="post">
  <input type="submit" value="Delete user">
</form>
<a href="/">Root</a>
<a href="/user/logout">Log out</a>

<script>
  fetch("/user/verify-session").then((res) => {
    {
      if (res.ok) {
        {
          document.getElementById("status").innerText = "Token verified!"
        }
      } else {
        {
          location = "/login?next=" + encodeURIComponent(location.pathname + location.search)
        }
      }
    }
  })
</script>
{% endblock %}